
/* font-family: Abel */

@font-face{
    font-family: Abel;
    src: url('../font/Abel/Abel-Regular.ttf');
}

/* font-family: Bebas_Neue */

@font-face{
    font-family: Bebas_Neue;
    src: url('../font/Bebas_Neue/BebasNeue-Regular.ttf');
}

/* font-family: Bree_Serif */

@font-face{
    font-family: Bree_Serif;
    src: url('../font/Bree_Serif/BreeSerif-Regular.ttf');
}

/* font-family: Cinzel */

@font-face{
    font-family: Cinzel;
    src: url('../font/Cinzel/Cinzel-VariableFont_wght.ttf');
}

/* font-family: EB_Garamond */

@font-face{
    font-family: EB_Garamond;
    src: url('../font/EB_Garamond/EBGaramond-VariableFont_wght.ttf');
}

/* font-family: Josefin_Sans */

@font-face{
    font-family: JosefinSans-Italic;
    src: url('../font/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
}

@font-face{
    font-family: JosefinSans;
    src: url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}


/* font-family: Josefin_Slab */

@font-face{
    font-family: JosefinSlab-Italic;
    src: url('../font/Josefin_Slab/JosefinSlab-Italic-VariableFont_wght.ttf');
}

@font-face{
    font-family: JosefinSlab;
    src: url('../font/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf');
}

/* font-family: Lexend_Deca */

@font-face{
    font-family: Lexend;
    src: url('../font/Lexend_Deca/LexendDeca-Regular.ttf');
}


/* font-family: Livvic */

@font-face{
    font-family: Livvic-Regular;
    src: url('../font/Livvic/Livvic-Regular.ttf');
}

@font-face{
    font-family: Livvic-Italic;
    src: url('../font/Livvic/Livvic-Italic.ttf');
}

@font-face{
    font-family: Livvic-SemiBold;
    src: url('../font/Livvic/Livvic-SemiBold.ttf');
}
