@import url('../css/fonts.css');


html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}


:root{


    /* Theme colors */
    --text-gray: #3f4954;
    --text-violet: #6930c3;
    --text-red: #d00000;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --blue: #00b4d8;
    --pink: #ff0054;
    --black: #0b090a;
    --lavendar: #e0aaff;
    --fluorescent: #89fc00;


    /* gradient color */
    --sky: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);


    /* theme font-family */
    --Abel:'Abel'.cursive;
    --Livvic: 'Livvic-Regular';
    --Bebas: 'Bebas_Neue';
    --Bree:'Bree_Serif';
    --Cinzel:'Cinzel';
    --EB:'EB_Garamond';
    --JosefinSansI: 'JosefinSans-Italic';
    --JosefinSans: 'JosefinSans';
    --JosefinSlab-I: 'JosefinSlab-Italic';
    --JosefinSlab: 'JosefinSlab-Italic';
    --Lexend: 'Lexend';
    --LivvicR: 'Livvic-Regular';
    --LivvicI: 'Livvic-Italic';
    --Livvic-SB: 'Livvic-SemiBold';


}


/*-- Global Classes ---*/

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Cinzel);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}


h3{
    font-family: var(--Livvic);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}


/*-------)(--------- Global Classes ---------)(---------*/

/*-------------------------- navbar ---------------------*/

.nav{
    background-color: var(--white);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .nav-items .nav-link:hover{
    background-color: #cdec04;
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: red;
}


/*------------)(--------- navbar -------------)(----------*/




/*----------------------- Main Content ------------------*/

/*-------------------- Site Title -----------------*/

main .site-title{
    background: url('../assets/bg2.jpg');
    background-size: cover;
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;;
    animation: colour_anim 100s linear infinite;
    

}

@keyframes colour_anim{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: -2122px 0;
    }
}

main .site-title .site-background{
    padding-top: 8rem;
    text-align: center;
    color: var(--black);

}

main .site-title h1,h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}


main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
}

/*----------)(------- Site Title -------)(----------*/



/*------------)(----------- Main Content ---------)(---------*/


/*  Viewport less than or equal to 750px   */

@media only screen and (max-width: 750px){
    .nav{
        background-color: #eeef20;
    }
    .nav .nav-items .nav-link:hover{
        background-color: #ff8f2c;
    }
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

}



/*  Viewport less than or equal to 750px   */

